.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 40px;
  cursor: pointer;
  height: 100px;
  text-align: center;
}

.grid-item:nth-child(odd) {
  background-color: #303f9f;
}

.grid-item:nth-child(even) {
  background-color: #000000;
}
